@mixin br($br) {
    @if $br ==xs {
        @media (max-width: 320px) {
            @content;
        }
    }

    @if $br ==sm {
        @media (max-width: 375px) {
            @content;
        }
    }

    @if $br ==md {
        @media (max-width: 425px) {
            @content;
        }
    }

    @if $br ==lg {
        @media (max-width: 768px) {
            @content;
        }
    }
}

html {
    background-color: black;
}


body {
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0.027);
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;

    .bg {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100vh;
        background: url(/img/fxVE.gif);
        background-color: rgba(0, 0, 0, 0.027);
        z-index: -1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

* {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;

    @include br(lg) {
        max-width: 768px;
        padding: 0 0px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(md) {
        max-width: 425px;
        padding: 0 0px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(sm) {
        max-width: 375px;
        padding: 0 0px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(xs) {
        max-width: 320px;
        padding: 0 0px;
        box-sizing: border-box;
        margin: 0 auto;
    }
}

///Mobile menu
#headerButton {
    display: none;
    position: fixed;
    z-index: 51;
    left: 0%;
    top: 0%;
    background-color: transparent;
    border: 1px white solid;
    margin: 10px;
    cursor: pointer;

    @include br(lg) {
        display: block;
    }

    span {
        display: block;
        margin: 5px;
        width: 25px;
        height: 2px;
        background-color: white;

    }
}

.header {
    width: 100%;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    color: white;

    @include br(lg) {
        display: none;
        padding-left: 0px;
    }

    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include br(lg) {
            width: 100%;
            height: 100vh;
            background-color: black;
            position: fixed;
            z-index: 10;
            left: 0%;
            flex-direction: column;
            z-index: 40;
        }

        @include br(md) {
            width: 100%;
        }

        &-logo {
            img {
                width: 100px;
            }
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 80px;
            width: auto;

            @include br(lg) {
                padding-left: 0px;
            }

            ul {
                display: flex;
                list-style-type: none;

                @include br(lg) {
                    flex-direction: column;
                    text-align: center;
                }

                li {
                    margin: 20px;
                    font-size: 27px;
                    border-bottom: 2px transparent solid;
                    cursor: pointer;
                    transition: 0.3s ease;

                    &:hover {
                        border-bottom: 2px purple solid;
                        transition: 0.3s ease;
                        transform: scale(1.1);
                    }
                }
            }
        }

        &-info {
            display: flex;
            position: fixed;
            right: 3%;
            bottom: 5%;
            z-index: 30;

            @include br(lg) {
                position: static;
                padding-bottom: 20px;
            }

            a {
                img {
                    width: 40px;
                    margin-right: 30px;
                }
            }

            h5 {
                font-size: 20px;
                animation: descriptionAnimation 3s linear infinite;
                text-align: center;

                a {
                    color: white;

                }
            }
        }
    }

    .dropDownMenus {
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;

        .adress {
            position: relative;
            top: 40px;

            .wrapper {
                display: none;
                background-color: black;

                img {
                    width: 700px;

                    @include br(md) {
                        width: 400px;
                    }

                    @include br(sm) {
                        width: 375px;
                    }

                    @include br(xs) {
                        width: 320px;
                    }
                }

                p {
                    text-align: center;
                    font-size: 19px;
                }
            }
        }

        .menu {
            .wrapper {
                display: none;
                width: 100%;
                margin: 0 auto;

                .swiper {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;

                    @include br(lg) {
                        width: 100%;
                    }

                    @include br(md) {
                        width: 100%;
                    }

                    @include br(sm) {
                        width: 100%;
                    }

                    @include br(xs) {
                        width: 100%;
                    }

                    &-button-prev {
                        @include br(md) {
                            display: none;
                        }

                        @include br(sm) {
                            display: none;
                        }

                        @include br(xs) {
                            display: none;
                        }
                    }

                    &-button-next {
                        @include br(md) {
                            display: none;
                        }

                        @include br(sm) {
                            display: none;
                        }

                        @include br(xs) {
                            display: none;
                        }
                    }

                    &-wrapper {
                        width: 100%;
                        position: relative;
                        top: 20px;

                        img {
                            width: 950px;

                            @include br(lg) {
                                width: 768px;
                            }

                            @include br(md) {
                                width: 425px;
                            }

                            @include br(sm) {
                                width: 375px;
                            }

                            @include br(xs) {
                                width: 320px;
                            }
                        }
                    }
                }
            }
        }

        .hookas {
            .wrapper {
                display: none;
                width: 100%;

                img {
                    padding-top: 20px;
                    height: 700px;

                    @include br(md) {
                        width: 425px;
                        height: auto;
                    }

                    @include br(sm) {
                        width: 375px;
                        height: auto;
                    }

                    @include br(xs) {
                        width: 320px;
                        height: auto;
                    }
                }
            }
        }

        .bar {
            .wrapper {
                display: none;
                width: 100%;

                img {
                    height: 700px;
                    padding-top: 20px;

                    @include br(md) {
                        width: 425px;
                        height: auto;
                    }

                    @include br(sm) {
                        width: 375px;
                        height: auto;
                    }

                    @include br(xs) {
                        width: 320px;
                        height: auto;
                    }
                }
            }
        }

        .tariffsMenu {
            .wrapper {
                display: none;
                width: 100%;
                margin: 0 auto;

                .swiper {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;

                    @include br(lg) {
                        width: 100%;
                    }

                    @include br(md) {
                        width: 100%;
                    }

                    @include br(sm) {
                        width: 100%;
                    }

                    @include br(xs) {
                        width: 100%;
                    }

                    &-button-prev {
                        @include br(md) {
                            display: none;
                        }

                        @include br(sm) {
                            display: none;
                        }

                        @include br(xs) {
                            display: none;
                        }
                    }

                    &-button-next {
                        @include br(md) {
                            display: none;
                        }

                        @include br(sm) {
                            display: none;
                        }

                        @include br(xs) {
                            display: none;
                        }
                    }

                    &-slide {
                        width: 100%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                    }

                    &-wrapper {
                        width: 100%;
                        margin: 0 auto;

                        img {
                            height: 650px;

                            @include br(lg) {
                                width: auto;
                            }

                            @include br(md) {
                                width: 425px;
                            }

                            @include br(sm) {
                                width: 375px;
                            }

                            @include br(xs) {
                                width: 320px;
                            }
                        }
                    }
                }
            }
        }
    }

    .open {
        display: block !important;
    }
}

.closeNavList {
    display: none;
}


.open {
    display: block;
}

.main {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;

    @include br(md) {
        height: 100%;
        text-align: center;
    }

    @include br(sm) {
        height: 100%;
        text-align: center;
    }

    @include br(xs) {
        height: 100%;
        text-align: center;
    }

    &_wrapper {
        color: white;
        height: 100%;
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0.719);
        padding-bottom: 135px;

        @include br(sm) {
            padding-bottom: 30px;
            padding-top: 70px;
        }

        &-title {
            font-size: 70px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 40px;
            line-height: 20px;

            @include br(md) {
                font-size: 40px;
                padding-top: 0px;
                padding-bottom: 0px;
            }

            @include br(xs) {
                font-size: 40px;
                padding-top: 0px;
                padding-bottom: 0px;
            }

            @include br(sm) {
                font-size: 40px;
                padding-top: 0px;
                padding-bottom: 0px;
            }

            span {
                font-size: 12px;
                opacity: 0;
            }
        }

        &-description {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            animation: descriptionAnimation 3s linear infinite;

            @include br(xs) {
                font-size: 15px;
            }
        }

        &-subtitles {
            display: flex;
            justify-content: center;
            font-size: 30px;
            flex-wrap: wrap;
            padding-bottom: 150px;

            @include br(lg) {
                padding-bottom: 0px;
            }

            @include br(xs) {
                font-size: 25px;
            }

            a {
                color: white;
                text-decoration: none;
                margin: 10px;

                @include br(lg) {
                    margin: 0px;
                }
            }

            h3 {
                margin: 50px;

                @include br(lg) {
                    margin: 25px;
                }

                @include br(xs) {
                    margin: 10px;
                }
            }
        }
    }
}

.slider {
    width: 100%;
    padding-bottom: 200px;
    background-color: rgba(0, 0, 0, 0.719);
    .swiper {   
        width: 800px;
        height: 600px;
        padding-top: 200px;
        background-color: rgba(0, 0, 0, 0.719);
        @include br(md) {
            width: 380px;
        }

        &-button-prev {
            padding-top: 100px;

            @include br(md) {
                display: none;
            }

            @include br(sm) {
                display: none;
            }

            @include br(xs) {
                display: none;
            }
        }

        &-button-next {
            padding-top: 100px;

            @include br(md) {
                display: none;
            }

            @include br(sm) {
                display: none;
            }

            @include br(xs) {
                display: none;
            }
        }

        @include br(lg) {
            width: 500px;
        }

        @include br(md) {
            width: 380px;
        }

        @include br(sm) {
            width: 350px
        }

        @include br(xs) {
            width: 300px
        }

        video {
            width: 800px;
            height: 400px;

            @include br(lg) {
                width: 500px;
            }

            @include br(md) {
                width: 380px;
            }

            @include br(sm) {
                width: 350px
            }

            @include br(xs) {
                width: 300px
            }
        }
    }
}

.lounge {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);

    &_title {
        color: white;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        padding-top: 40px;

    }

    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;

        .swiper {
            width: 700px;
            height: 500px;
            @include br(lg) {
                width: 650px;
                height: auto;
            }
            @include br(md) {
                width: 400px;
                height: auto;
            }

            @include br(sm) {
                width: 350px;
                height: auto;
            }

            @include br(xs) {
                width: 300px;
                height: auto;
            }
            &-button-prev {
                @include br(md) {
                    display: none;
                }

                @include br(sm) {
                    display: none;
                }

                @include br(xs) {
                    display: none;
                }
            }

            &-button-next {
                @include br(md) {
                    display: none;
                }

                @include br(sm) {
                    display: none;
                }

                @include br(xs) {
                    display: none;
                }
            }

            &-slide {
                display: flex;
                justify-content: center;
                img {
                    width: auto;
                    height: auto;
                    @include br(lg) {
                        width: 400px;
                    }
                    @include br(md) {
                        width: 400px;
                    }
        
                    @include br(sm) {
                        width: 350px;
                        height: auto;
                    }
        
                    @include br(xs) {
                        width: 300px;
                        height: auto;
                    }
                }
            }
        }
    }
}

.promotion {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);

    &_title {
        text-align: center;
        font-size: 50px;
        padding-bottom: 70px;
    }

    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: gray;
            width: 400px;
            height: 400px;
            margin: 10px;

            @include br(md) {
                width: 350px;
                height: auto;
                padding-left: 10px;
                padding-right: 10px;
            }

            @include br(xs) {
                width: 300px;
            }

            &:first-child {
                p {
                    font-size: 25px;
                }

                img {
                    height: 250px;
                    width: 250px;
                    padding-top: 5px;
                }
            }

            &:nth-child(2n) {
                p {
                    padding-left: 10px;
                }

                img {
                    width: 400px;

                    @include br(md) {
                        width: 350px;
                    }

                    @include br(xs) {
                        width: 300px;
                    }
                }
            }

            &:nth-child(3n) {
                p {
                    padding-left: 5px;
                }

                img {
                    width: 400px;

                    @include br(md) {
                        width: 350px;
                    }

                    @include br(xs) {
                        width: 300px;
                    }
                }
            }

            p {
                font-size: 30px;
                padding-top: 10px;
            }
        }
    }

    &_description {
        text-align: center;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.tariffs {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_title {
        font-size: 50px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 100px;
    }

    // &_wrapper {
    //     display: flex;
    //     width: 100%;
    //     justify-content: space-evenly;
    //     @include br(lg) {
    //         flex-wrap: wrap;
    //      }
    //     @include br(md) {
    //        flex-wrap: wrap;
    //     }
    //     img {
    //         aspect-ratio: 4/3;
    //         object-fit: contain;
    //     }
    //     &-lounge {
    //         margin-top: 40px;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         &--title {
    //             font-size: 30px;
    //         }
    //         &--item {
    //             margin: 30px;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             position: relative;
    //             background-color: black;
    //             text-transform: uppercase;
    //             text-align: center;
    //             @include br(sm) {
    //                 width: 300px;
    //                 margin-left: 0px;
    //                 margin-right: 0px;
    //             }

    //             @include br(xs) {
    //                 width: 300px;
    //                 margin-left: 0px;
    //                 margin-right: 0px;
    //             }
    //             img {
    //                 width: 300px;
    //                 transition: 0.4s ease;
    //             }
    //             h6 {
    //                 font-size: 20px;
    //                 position: absolute;
    //                 bottom: 5%;
    //                 transition: 0.4s ease;
    //                 opacity: 0;
    //             }
    //             &:hover {
                    
    //                 h6 {
    //                     bottom: 40%;
    //                     transition: 0.4s ease;
    //                     opacity: 1;
    //                 }
                    
    //                 img {
    //                     opacity: 0.3;
    //                     transition: 0.4s ease;
    //                 }
    //             }
    //         }

    //     }

    //     &-cyber {
    //         margin-top: 40px;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         &--title {
    //             font-size: 30px;
    //         }
    //         &--item {
    //             margin: 30px;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             position: relative;
    //             background-color: black;
    //             text-transform: uppercase;
    //             text-align: center;
    //             @include br(sm) {
    //                 width: 300px;
    //                 margin-left: 0px;
    //                 margin-right: 0px;
    //             }

    //             @include br(xs) {
    //                 width: 300px;
    //                 margin-left: 0px;
    //                 margin-right: 0px;
    //             }
    //             img {
    //                 width: 300px;
    //                 transition: 0.4s ease;
    //             }
    //             h6 {
    //                 font-size: 20px;
    //                 position: absolute;
    //                 bottom: 5%;
    //                 transition: 0.4s ease;
    //                 opacity: 0;
    //             }
    //             &:hover {
    //                 h6 {
    //                     bottom: 40%;
    //                     transition: 0.4s ease;
    //                     opacity: 1;
    //                 }
    //                 img {
    //                     opacity: 0.3;
    //                     transition: 0.4s ease;
    //                 }
    //             }
    //         }

    //     }
    // }

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            flex-wrap: wrap;
            &-title {
                font-size: 30px;
            }
            &-item {
                margin: 20px;

                h6 {
                    font-size: 15px;
                    text-align: center;
                   
                }
                img {
                    width: 300px;
                    aspect-ratio: 3/4;
                    transition: 0.4s ease;
                    border: 2px transparent solid;
                    &:hover {
                        border: 2px white solid;
                        transform: scale(1.3);
                        transition: 0.4s ease;
                    }
                }
            }
        }
}

.cinema {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);

    &_title {
        font-size: 50px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &_wrapper {
        padding-bottom: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper {
            width: 650px;
            height: 400px;

            @include br(md) {
                width: 380px;
                height: 300px;
            }

            @include br(sm) {
                width: 300px;
                height: 250px;
            }

            img {
                width: 650px;
                height: 400px;

                @include br(md) {
                    width: 380px;
                    height: 300px;
                }

                @include br(sm) {
                    width: 300px;
                    height: 250px;
                }
            }

            &-button-prev {
                @include br(md) {
                    display: none;
                }

                @include br(sm) {
                    display: none;
                }

                @include br(xs) {
                    display: none;
                }
            }

            &-button-next {
                @include br(md) {
                    display: none;
                }

                @include br(sm) {
                    display: none;
                }

                @include br(xs) {
                    display: none;
                }
            }

            video {
                width: 650px;
                height: 400px;

                @include br(md) {
                    width: 380px;
                    height: 300px;
                }

                @include br(sm) {
                    width: 300px;
                    height: 250px;
                }
            }
        }
    }
}

.about {
    width: 100%;
    color: white;
    background: url(/img/aboutBg.gif);
    background-size: cover;
    background-repeat: no-repeat;

    &_wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &-logo {
            display: flex;
            justify-content: center;

            img {
                width: 50%;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            h4 {
                font-size: 30px;
                padding-bottom: 40px;
                padding-top: 40px;

                @include br(xs) {
                    font-size: 20px;
                }
            }

            ul {
                list-style-type: none;
                font-size: 25px;

                @include br(xs) {
                    font-size: 15px;
                }
            }

            p {
                font-size: 20px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;

                @include br(xs) {
                    font-size: 15px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    height: 0vh;
    color: white;

    &_wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.856);

        @include br(md) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-content {
            font-size: 5px;
            opacity: 0.4;
            opacity: 0;
        }
    }
}



////ANIMATIONS

@keyframes descriptionAnimation {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }

}